.app-main {
  display: flex;
  justify-content: space-between;
  color: #D0D6F9;
  font-weight: 100;
  width: 72%;
  margin: 0 auto;
  margin-top: 20rem;
}

.app-header {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.app-title {
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.app-title-span {
  color: white;
  font-size: 10rem;
  font-weight: normal;
  font-family: 'Bellefair', serif;
  margin-top: 2rem;
}

.app-content {
  margin-top: 2rem;
  line-height: 32px;
  font-size: 1.1rem;
  letter-spacing: 1px;

}

.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 274px;
  height: 274px;
}

.app-button:hover {
  box-shadow: -2px 0px 0px 76px rgb(0 0 0 / 25%);
  transition: 1s;
}