.nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  padding-left: 4rem;
  color: white;
  position: absolute;
  width: 100vw;
  height: 96px;
  left: 0;
  top: 40px;
}

.nav-list {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.nav-item {
  letter-spacing: 2px;
  line-height: 5.7rem;
}

.nav-item--active {
  border-bottom: 2px solid white;
}

.nav-item span {
  font-weight: bold;
}
