.nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 7rem;
  padding-left: 4rem;
  background-color: #0b0d172a;
  backdrop-filter: blur(35px);
  color: white;
  position: absolute;
  width: 100vw;
  height: 96px;
  left: 0;
  top: 40px;
}

.nav-list {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  letter-spacing: 2px;
}
